#Page {
  background-color: black;
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#dot {
  display: block;
  background-color: rgb(0, 171, 205);
  width: 10px;
  height: 10px;

  position: absolute;
  top: 100px;
  left: 100px;
}

#dotButtons {
  display: flex;
  position: absolute;
  top: 90%;
  left: 10%;
}

button {
  background-color: rgb(0, 171, 205);
  border: navajowhite;
  border-radius: 3px;
  margin-right: 10px;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}
